<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 32%;}
    .image-gallery li a {text-align: center; text-decoration: none!important;}
    .image-gallery li a span {display: block; word-wrap:break-word; text-overflow: ellipsis; overflow: hidden; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block; margin: 0!important;}
</style>

{{ $dir := .Params.gallery_dir }}
<ul class="image-gallery">
{{ range (readDir (printf "assets/%s" $dir)) }}
  {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
  {{- $imageurl := printf "/%s/%s" $dir .Name -}}
  {{- $imagetitle := index (split .Name ".") 0 -}}
    <li>
      <a href="{{ ($image.Fit "1600x1200").Permalink }}" class="lightbox-image" title="{{ $imagetitle }}">
        <img src="{{ ($image.Fill "300x225").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
        <span>{{ $imagetitle }}</span>
      </a>
    </li>
  
{{ end }}
</ul>
