{{$type := .Get 0}}
{{ $url := "https://api.github.com/repos/nroduit/Weasis/releases/latest" }}
{{ $jfile := getJSON $url }}
<table border="0" cellpadding="3" cellspacing="0">
<tr>
  <th align="center" width="10%">System</th>
  <th align="center" width="10%">Architecture</th>
  <th align="center" width="5%">Package</th>
  <th align="center" width="8%">Size</th>
  <th align="center" width="15%">Weasis installer</th>
  <th align="center">Comments</th>
</tr>
{{ range $elem_index, $elem_val := $jfile }}
{{ if (eq $elem_index "assets") }}
    {{ range $burl, $val := sort $elem_val "content_type" }}
    {{ $package := path.Ext $val.name }}
    {{ if or (eq $package ".msi") (eq $package ".deb") (eq $package ".rpm") (eq $package ".pkg") }}
      {{ $arch := printf "%s %s-bit" (cond (or (in $val.name "aarch") (in $val.name "arm")) "arm" "x86") (cond (or (in $val.name "64") (eq $package ".pkg") ) "64" "32") }}
      {{ $system := cond (eq $package ".msi") "Windows" (cond (eq $package ".pkg") "macOS" "Linux") }}
      {{ $icon := cond (eq $package ".msi") "microsoft" (cond (eq $package ".pkg") "apple" "linux") }}
      <tr>
        <td align="left"><i class='fab fa-{{ $icon }}' style='font-size:24px'></i> {{ $system }}</td>
        <td align="left">{{ $arch }}</td>
        <td align="left">{{ upper ( substr $package 1 ) }}</td>
        <td align="left">{{ printf "%.1f MB"  (div $val.size 1000000) }}</td>
        <td align="left">
        <span class="btn cstyle transparent">
          <a href="{{ $val.browser_download_url }}" target="_blank">{{ $val.name }} <i class="fa-fw fas fa-download"></i></a>
        </span>
        </td>
        <td align="left">{{ cond (eq $package ".msi") "Requires Windows 7, 8 10 or 11"
          (cond (eq $package ".pkg") (cond (eq $arch "arm 64-bit") "Requires macOS 11 or higher" "Requires macOS 10.11 or higher" )
          (cond (eq $arch "arm 32-bit") "Requires GLIBC_2.7. Only tested with Raspberry Pi 4"
          (cond (eq $arch "arm 64-bit") "Requires GLIBC_2.27" "Requires GLIBC_2.14" )))
          }}</td>
      </tr>
      {{ end }}
    {{ end }}
{{ end }}
{{ end }}
</table>
