{{$type := .Get 0}}
{{ $url := "https://api.github.com/repos/nroduit/Weasis/releases/latest" }}
{{ $jfile := getJSON $url }}
<table border="0" cellpadding="3" cellspacing="0">
<tr>
  <th align="center" width="10%">Operating System</th>
  <th align="center" width="10%">Architecture</th>
  <th align="center" width="5%">Package</th>
  <th align="center" width="5%">Size</th>
  <th align="center" width="15%">Weasis installer</th>
  <th align="center">Comments</th>
</tr>
{{ range $elem_index, $elem_val := $jfile }}
{{ if (eq $elem_index "assets") }}
    {{ range $burl, $val := sort $elem_val "content_type" }}
    {{ $package := path.Ext $val.name }}
    {{ $arch := printf "%s %s-bit" (cond (or (in $val.name "aarch") (in $val.name "arm")) "ARM" "x86") (cond (or (in $val.name "64") (eq $package ".pkg") ) "64" "32") }}
    {{ $system := cond (eq $package ".msi") "Windows" (cond (eq $package ".pkg") "Mac OS" "Linux") }}
    {{ $icon := cond (eq $package ".msi") "microsoft" (cond (eq $package ".pkg") "apple" "linux") }}
    <tr bgcolor="#FBFDFD">
      <td align="left"><i class='fab fa-{{ $icon }}' style='font-size:24px'></i> {{ $system }}</td>
      <td align="left">{{ $arch }}</td>
      <td align="left">{{ upper ( substr $package 1 ) }}</td>
      <td align="left">{{  printf "%.1f MB"  (div $val.size 1000000) }}</td>
      <td align="left"><a  href="{{ $val.browser_download_url }}" target="_blank" class="btn btn-default">{{ $val.name }} <i class="fa fa-download"></i></a></td>
      <td align="left">{{ cond (eq $package ".msi") "Requires Windows 7, 8 or 10" (cond (eq $package ".pkg") "Requires Mac OS 10.9 or higher" "Requires GLIBC_2.14 or higher" ) }}</td>
    </tr>
    {{ end }}
{{ end }}
{{ end }}
</table>
