{{ $url := "https://raw.githubusercontent.com/nroduit/Weasis/refs/heads/master/weasis-distributions/etc/config/version-compatibility.json" }}
{{ $jsonFile := resources.GetRemote $url }}
{{ $data := $jsonFile | transform.Unmarshal }}
{{ $lastIndex := sub (len $data) 1 }}
<table>
    <thead>
    <tr>
        <th>Release Version</th>
        <th>Minimal Version</th>
        <th>i18n Version</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $element := $data }}
    {{ if ne $index $lastIndex }}
    <tr>
        <td>{{ index $element "release-version" }}</td>
        <td>{{ index $element "minimal-version" }}</td>
        <td>{{ index $element "i18n-version" }}</td>
    </tr>
    {{ end }}
    {{ end }}
    </tbody>
</table>
